<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css"/>
    <title>Document</title>
</head>
<body>
     <h2> {{>header}} </h2>

      <h1 class="product-h1" > {{desc}} </h1>

      <div class="products">
        <div class="one-img">
            <div class="first">
                <img class="imgproduct" src= {{image1}} alt="">
                <h2 class="desc-product" >T-shirt <br> price is $100pound</h2>
            </div>

             <div class="second">
                <img class="imgproduct" src= {{image2}} alt="">
                <h2 class="desc-product" >T-shirt <br> price is $100pound</h2>
            </div>

             <div class="third">
                <img class="imgproduct" src= {{image3}} alt="">
                <h2 class="desc-product" > T-shirt <br> price is $100pound </h2>
            </div>

        </div>
      </div>

       <div class="products">
        <div class="one-img">
            <div class="first">
                <img class="imgproduct" src= {{image4}} alt="">
                <h2 class="desc-product" >T-shirt <br> price is $100pound</h2>
            </div>

             <div class="second">
                <img class="imgproduct" src= {{image6}} alt="">
                <h2 class="desc-product " >T-shirt <br> price is $100pound</h2>
            </div>

             <div class="third">
                <img class="imgproduct" src= {{image7}} alt="">
                <h2 class="desc-product" >T-shirt <br> price is $100pound</h2>
            </div>

        </div>
      </div>
    <h2> {{>footer}} </h2>
</body>
</html>